{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-image: url('/static/image/background.jpg');
            background-size: cover; 
            background-repeat: no-repeat; 
        }
    </style>
</head>

<body>
    <nav class="p-4 ml-2">
        <div class="container mx-auto flex justify-between items-center">
            <div>
                <a href="#" class="text-white text-lg font-bold">Logo</a>
            </div>
            <!-- Navigation links -->
            <div class="pt-4 hidden md:block">
                <a href="{% url 'menu' %}" class="text-lg text-white ml-4 hover:text-gray-300">Menu</a>
                <a href="#" class="text-lg text-white ml-4 hover:text-gray-300">Contact</a>
                <a href="#" class="text-lg text-white ml-4 hover:text-gray-300">Logout</a>
                <a href="{% url 'login' %}" class="text-lg text-white ml-4 hover:text-gray-300">Login</a>
                <a href="{% url 'register' %}" class="text-lg text-white ml-4 hover:text-gray-300">Register</a>
            </div>
            <!-- Mobile Menu Button -->
            <div class="md:hidden">
                <button class="text-white focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"/>
                    </svg>
                </button>
            </div>
        </div>
    </nav>

    <!-- Main content -->
    <div class="relative px-6 pt-16 pb-20 lg:px-8 lg:pt-24 lg:pb-28">
        <div class="absolute inset-0">
            <div class="h-1/3 sm:h-2/3"></div>
        </div>
        <div class="relative mx-auto max-w-7xl">
            <div class="text-center">
                <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">WELCOME TO OUR CAFE</h2>
                <p class="mx-auto mt-3 max-w-2xl text-xl text-white sm:mt-4">This is our menus, Enjoy picking!</p>
            </div>

            <div class="mx-auto mt-12 grid max-w-lg gap-5 lg:max-w-none lg:grid-cols-3">
                
                <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
                    <div class="flex-shrink-0">
                        <img class="h-48 w-full object-cover" src="{% static 'image/menus/drink.jpg' %}" alt="">
                    </div>
                    <div class="flex flex-1 flex-col justify-between bg-white p-6">
                        <div class="flex-1">
                            <a href="#" class="mt-2 block">
                                <p class="text-xl font-semibold text-gray-900">เมนูเครื่องดื่ม</p>
                                <p class="text-xl font-semibold text-gray-900">_______________</p>
                                <p class="mt-3 text-base text-gray-500">นมสด มิลค์เชค กาแฟ น้ำผลไม้</p>
                            </a>
                        </div>
                        <div class="mt-6 flex items-center">
                            <div class="flex-shrink-0">
                                <a href="#">
                                    <span class="sr-only">Drinks</span>
                                    <img class="h-10 w-10 rounded-full" src="{% static 'image/menus/drink.jpg' %}" alt="">
                                </a>
                            </div>
                            <div class="ml-3">
                                <p class="text-sm font-medium text-gray-900">
                                    <a href="#" class="hover:underline">Click to see more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
                    <div class="flex-shrink-0">
                        <img class="h-48 w-full object-cover" src="{% static 'image/menus/dessert.jpg' %}" alt="">
                    </div>
                    <div class="flex flex-1 flex-col justify-between bg-white p-6">
                        <div class="flex-1">
                            
                            <a href="#" class="mt-2 block">
                                <p class="text-xl font-semibold text-gray-900">เมนูของหวาน</p>
                                <p class="text-xl font-semibold text-gray-900">_______________</p>
                                <p class="mt-3 text-base text-gray-500">เครปเย็น บิงซู ฮันนี่โทส น้ำแข็งใส ปังปิ้ง</p>
                            </a>
                        </div>
                        <div class="mt-6 flex items-center">
                            <div class="flex-shrink-0">
                                <a href="#">
                                    <span class="sr-only">Dessert</span>
                                    <img class="h-10 w-10 rounded-full" src="{% static 'image/menus/dessert.jpg' %}" alt="">
                                </a>
                            </div>
                            <div class="ml-3">
                                <p class="text-sm font-medium text-gray-900">
                                    <a href="#" class="hover:underline">Click to see more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
                    <div class="flex-shrink-0">
                        <img class="h-48 w-full object-cover" src="{% static 'image/menus/mainCourse.jpg' %}" alt="">
                    </div>
                    <div class="flex flex-1 flex-col justify-between bg-white p-6">
                        <div class="flex-1">
                            
                            <a href="#" class="mt-2 block">
                                <p class="text-xl font-semibold text-gray-900">เมนูอาหาร</p>
                                <p class="text-xl font-semibold text-gray-900">_______________</p>
                                <p class="mt-3 text-base text-gray-500">สเต็ก เมนูเส้น ทะเล อาหารจานเดียว สลัด</p>
                            </a>
                        </div>
                        <div class="mt-6 flex items-center">
                            <div class="flex-shrink-0">
                                <a href="#">
                                    <span class="sr-only">Main course</span>
                                    <img class="h-10 w-10 rounded-full" src="{% static 'image/menus/mainCourse.jpg' %}" alt="">
                                </a>
                            </div>
                            <div class="ml-3">
                                <p class="text-sm font-medium text-gray-900">
                                    <a href="#" class="hover:underline">Click to see more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    

</body>
</html>

