<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Register Page</title>
    <style>
        body {
            background-image: url('/static/image/background.jpg');
            background-size: cover; 
            background-repeat: no-repeat; 
        }
    </style>
</head>
<body>
    <nav class="p-4 ml-2">
        <div class="container mx-auto flex justify-between items-center">
            <div>
                <a href="#" class="text-white text-lg font-bold">Logo</a>
            </div>
            <!-- Navigation links -->
            <div class="pt-4 hidden md:block">
                <a href="#" class="text-lg text-white ml-4 hover:text-gray-300">Menu</a>
                <a href="#" class="text-lg text-white ml-4 hover:text-gray-300">Contact</a>
                <a href="#" class="text-lg text-white ml-4 hover:text-gray-300">Logout</a>
                <a href="{% url 'login' %}" class="text-lg text-white ml-4 hover:text-gray-300">Login</a>
                <a href="#" class="text-lg text-white ml-4 hover:text-gray-300">Register</a>
            </div>
            <!-- Mobile Menu Button -->
            <div class="md:hidden">
                <button class="text-white focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"/>
                    </svg>
                </button>
            </div>
        </div>
    </nav>

    <div class="p-8 bg-white w-96 mx-auto rounded" >
        <div class="text-center">
            <h1 class="text-center text-3xl font-semibold mb-4"> Sign Up</h1>
            
            <form action="" method="POST" class="mx-auto max-w-md">
                {% csrf_token %}
                
                {% if form.errors %}
                  <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                      <strong class="font-bold">You Got An errors</strong>
                      <ul class="mt-1 list-disc list-inside">
                          {% for field in form %}
                          {% if field.errors %}
                              {{ field.errors }}
                          {% endif %}
                      {% endfor %}
                      </ul>
                      <button type="button" class="absolute top-0 bottom-0 right-0 px-4 py-3" data-dismiss="alert">
                          <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                              <title>Close</title>
                              <path d="M14.354 5.646a.5.5 0 00-.708 0L10 9.293 5.354 5.646a.5.5 0 10-.708.708L9.293 10l-4.647 4.646a.5.5 0 00.708.708L10 10.707l4.646 4.647a.5.5 0 00.708-.708L10.707 10l4.647-4.646a.5.5 0 000-.708z"/>
                          </svg>
                      </button>
                  </div>
                {% endif %}
                <div class="mb-4">
                  {{ form.username }}
                </div>
                <div class="mb-4">
                  {{ form.email }}
                </div>
                <div class="mb-4">
                  {{ form.password1 }}
                </div>
                <div class="mb-4">
                  {{ form.password2 }}
                </div>
                <button type="submit" class="bg-blue-100 text-black py-2 px-4 rounded">Register</button>
                <div class="text-center mt-4">
                    <p>Already have an account? <a href="{% url 'login' %}" class="text-blue-400"> Login </a></p>
                </div>
            </form>
          </div>
    </div>
    
</body>
</html>